.pd-card,
pd-card {
	position: relative;
	display: flex;
	flex: 0 1 420px;
	margin: var(--global-padding);
	padding: var(--global-padding);
	background: #fff;
	border: thin solid rgba(#000, 0.14);
	border-radius: 4px;
	box-shadow: 0 2px 2px 0 rgba(#000, 0.14);
	text-align: center;
	min-height: calc(var(--icon-touch-target) * 2);

	// @include breakpoint(600px) {
	// 	margin-left: var(--global-padding);
	// 	margin-right: var(--global-padding);
	// }
}

/*
 * Fixes for older browsers.
 */

	.no-flexbox {
		pd-card {
			display: block;
		}
	}
