.label {
    display: block;
    color: #3f3f3f;
    @include font-size(11px);
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    @include text-upper;
    margin-top: calc(var(--global-padding) * 2);
    letter-spacing: 0.025em;
    text-align: left;
    transition: transform .25s var(--cb-ease-in-out);

    &-tagline {
        position: relative;
        color: #7f7f7f;
        @include font-size(11px);
        letter-spacing: 0.0175em;
    }
}

.form-group {
    position: relative;

    &.on-focus {
        .label {
            transform: none;
        }
    }

    &.hide-label {
        .label {
            opacity: 0;
        }
    }

    .label {
        // transform: translateY(28px);
        pointer-events: none;
    }

    .ck-error {
        position: absolute;
        @include font-size(11px);
        color: var(--brand-danger);
        bottom: calc(var(--global-padding) * 1.025);
    }
}
